
body {
    font-family: 'Roboto', sans-serif !important;
    padding-top: 20px;

}
/* CHECKBOXES --> */

.cuisine-wrapper, .category-wrapper {
    height: 20vh;
    overflow: hidden;
    overflow-y: scroll; 
}

ul {
    list-style: none;
    padding: 0;
}
#cuisine-search, #category-search  {
    list-style: none;
}

#cuisine-search li {
    float: left;
    display: block;
    width: 33%;
}

#category-search li {
    float: left;
    display: block;
    width: 100%;
}
/* <-- CHECKBOXES  */

/* SLIDERS --> */
#amount-slider {
    width: 100%;
    text-align:justify;
    display: block;
}

.symbols {
    width: 100%;
    margin-top: 5px;
}

.symbols p {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.right-symbol {
    float: right;
}

.fa-dollar-sign {
    font-size: 12px;
}

.ui-widget-header {
    background-color: #09d0cd !important;
}

.ui-widget-content {
    background-color: rgb(243, 243, 243) !important;
}

.ui-state-default {
    border-radius: 20px !important;
    border: 1px solid #09d0cd !important;
}

.ui-widget-content {
    border-radius: 20px !important;
    border: 1px solid transparent !important;
}
/* <-- SLIDERS */


.restaurant-main {
    background-color: rgb(243, 243, 243);
    margin: 30px 0;
    height: 70vh;
}


/* RESTAURANT LIST --> */
#restaurant-results {
    background-color: rgb(230, 228, 228);
    overflow-y: scroll;
    padding: 0;
    height: 70vh;
}

#restaurant-results p {
    padding:10px 0 10px 20px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}

#restaurant-list li {
    border-top: 1.5px solid rgb(212, 208, 208);
}

#restaurant-list a {
    padding:7.5px 0 7.5px 20px;
    color: rgb(133, 129, 129);
    text-decoration: none;
    display: block;
}

#restaurant-list a:hover, .hovered {
    background-color: #09d0cd;
    color: white !important;
}

/* <-- RESTAURANT LIST  */

/* INDIVIDUAL RESTAURANT DETAIL --> */
.onload-note {
    font-size: 25px;
    text-align: center;
}

#restaurant-detail {
    margin: 60px 0 0 50px;;
}

#restaurant-detail h3 {
    margin: 0;
}

.restaurant-location, .restaurant-booking, .restaurant-delivery  {
    font-size: 14px;
    color: rgb(133, 129, 129);
    margin: 0;
}


.bookings-delivery {
    padding:10px 0;
}

.heading {
    font-size: 11.5px;
    font-weight: bold;
    margin: 0;
}

.restaurant-number, .restaurant-cuisine {
    font-size: 17px;
    color: rgb(133, 129, 129);
}
.fa-check {
    color: green;
}

.fa-times {
    font-size: 17px;
    color: red;
}

/* <-- INDIVIDUAL RESTAURANT DETAIL  */