
body {
    font-family: 'Roboto', sans-serif !important;
    padding-top: 20px;

}

@media (max-width: 767px) {
    body {
        background-color: rgb(243, 243, 243) !important;
    
    }
}

/* BUTTONS --> */
.restaurant-url-btn {
    padding: 5px 10px;
}

.restaurant-url-btn, .keyword-btn, .apikey-btn{
    background-color: #09d0cd ;
    color: #fff;
    font-weight: bolder ;
    text-decoration: none ;
    border-radius: 5px;
}
.restaurant-url-btn:hover, .restaurant-url-btn:focus, .keyword-btn, .apikey-btn{
    text-decoration: none ;
    color: #fff ;
    background-color: #0ab6b3 ;
}

.btn {
    display: inline-block;
    padding: 0 5px !important;
    background-color: rgb(199, 202, 202);
    font-weight: bold;
}

/* <-- BUTTONS */

/* CHECKBOXES --> */

.cuisine-wrapper, .category-wrapper {
    height: 20vh;
    padding: 3px;
    overflow: hidden;
    overflow-y: scroll; 
    border: 1.5px solid rgb(212, 208, 208);
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}
#cuisine-search, #category-search  {
    list-style: none;
}

#cuisine-search li {
    float: left;
    display: block;
    width: 33%;
}

#category-search li {
    float: left;
    display: block;
    width: 100%;
}

@media (max-width: 767px) {
    #cuisine-search li, #category-search li {
        float: left;
        display: block;
        width: 50%;
    }
    .category-wrapper, .cuisine-wrapper {
        margin: 10px 0;
        background-color:#fff;
        border-radius: 5px;
        padding-left: 5px;
        height: 10vh;
        
    }
    .heading {
        display: inline-block;
        width: 60px;
    }
    .bottom-border {
        padding: 5px;
        border-bottom: 1.5px solid rgb(212, 208, 208);
    }
    .top-border {
        padding: 5px;
        border-top: 1.5px solid rgb(212, 208, 208);
    }
  
}
/* <-- CHECKBOXES  */

/* SLIDERS --> */
.slider p {
    margin: 0;
}

#amount-slider {
    width: 100%;
    text-align:justify;
    display: block;
}

.symbols {
    width: 100%;
    margin-top: 5px;
}

.symbols p {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.right-symbol {
    float: right;
}

.fa-dollar-sign {
    font-size: 12px;
}

.ui-widget-header {
    background-color: #09d0cd !important;
}

.ui-widget-content {
    background-color: rgb(243, 243, 243) !important;
}

.ui-state-default {
    border-radius: 20px !important;
    border: 1px solid #09d0cd !important;
}

.ui-widget-content {
    border-radius: 20px !important;
    border: 1px solid transparent !important;
}
/* <-- SLIDERS */

/* KEYWORD SEARCH BOX --> */

.keyword-search, .api {
    margin: 5px 0 0 10px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .keyword-search{
        margin: 5px 0 10px 10px;
    }
}

/* <-- KEYWORD SEARCH BOX */
.restaurant-main {
    background-color: rgb(243, 243, 243);
    margin: 30px 0;
    position: relative;
}

.adelaide {
    position: absolute;
    background: url(../images/adelaide.jpg);
    background-size: cover;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
 }
 .overlay {
    position: absolute;
    background-color: rgba(0,0,0,.6);
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
 }

@media (max-width: 767px) {
    .restaurant-main {
        margin: 0;
    }
}


/* RESTAURANT LIST --> */
.no-restaurants {
    padding-left: 20px; 
}

#restaurant-results {
    background-color: rgb(230, 228, 228);
   
}

#restaurant-results p {
    padding:10px 0 10px 20px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
}
#restaurant-list {
    overflow-y: scroll;
    height: 70vh;
}
#restaurant-list li {
    border-top: 1.5px solid rgb(212, 208, 208);
}

#restaurant-list a {
    padding:7.5px 0 7.5px 20px;
    color: rgb(133, 129, 129);
    text-decoration: none;
    display: block;
}

#restaurant-list a:hover, .hovered {
    background-color: #09d0cd;
    color: white !important;
}

@media (max-width: 767px) {
    #restaurant-list {
        height: 20vh;
    }

    .expand {
        height: auto !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #restaurant-list a {
        padding-left: 0;
    }
}

.expand-button {
    display: inline-block;
}

/* <-- RESTAURANT LIST  */

/* INDIVIDUAL RESTAURANT DETAIL --> */

#api-wrapper {
    text-align: center;
}

.onload-note {
    font-size: 25px;
    text-align: center;
}

.select-restaurant {
    display: none;
    text-align: center;
    
}

#restaurant-detail {
    margin: 60px 0 0 0px;
    padding: 20px 10px;
    background-color: rgba(255,255,255,.8);
    border-radius: 5px;
}

#restaurant-detail h3 {
    margin: 0;
}

.restaurant-location, .restaurant-booking, .restaurant-delivery  {
    font-size: 14px;
    color: rgb(133, 129, 129);
    margin: 0;
}
.restaurant-image {
    width: 370px;
}

.bookings-delivery {
    padding:10px 0;
}

.heading {
    font-size: 11.5px;
    font-weight: bold;
    margin: 0;
}

.restaurant-number, .restaurant-cuisine {
    font-size: 17px;
    color: rgb(133, 129, 129);
}
.fa-check {
    color: green;
}

.fa-times {
    font-size: 17px;
    color: red;
}
.progress{
width:50%;

}

.bar1, .bar2, .progress {
    height: 10px !important;

}

.bar1 {
    background-color: #28a745!important;
}
.bar2 {
    background-color: #ffc107!important;
}

@media (max-width: 767px) {
    #restaurant-detail{
        margin:10px 0 10px 0;
        text-align: center;
    }
    .restaurant-image {
        width: 200px;
    }
    .progress {
        display: block;
        margin: 0 auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .restaurant-image {
        display: block;
        margin: 0 auto;
        width: 350px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .restaurant-image {
        width: 300px;

    }
}

/* <-- INDIVIDUAL RESTAURANT DETAIL  */

